html {
    font: 62.5%/1.4 Arial, sans-serif;
}

body {
    font-size: 1.3em;
    padding: 40px;
}

#upload_form, #usercomment_form {
    padding: 20px;
    border: 1px solid #aaa;
    margin: 20px 0;
    width: 500px;
    background: #eee; 
    position: relative;
}

form label {
    display: block;
    padding: 0 0 5px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .7;
}