<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tunesmanager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
	<param-name>uploadDir</param-name>
	<param-value>C:\tmp_labs</param-value>
  </context-param>
  <servlet>
    <servlet-name>UploaderServlet</servlet-name>
    <servlet-class>challenge.UploaderServlet</servlet-class>
    <multipart-config/>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploaderServlet</servlet-name>
    <url-pattern>/UploaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieverServlet</servlet-name>
    <servlet-class>challenge.RetrieverServlet</servlet-class>
    <multipart-config/>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieverServlet</servlet-name>
    <url-pattern>/RetrieverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadStateServlet</servlet-name>
    <servlet-class>challenge.UploadStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStateServlet</servlet-name>
    <url-pattern>/UploadStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsercommentServlet</servlet-name>
    <servlet-class>challenge.UsercommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsercommentServlet</servlet-name>
    <url-pattern>/UsercommentServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.IOException</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>